In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('zomato.csv')

In [6]:
COUNTRIES = {
1: "India",
14: "Australia",
30: "Brazil",
37: "Canada",
94: "Indonesia",
148: "New Zeland",
162: "Philippines",
166: "Qatar",
184: "Singapure",
189: "South Africa",
191: "Sri Lanka",
208: "Turkey",
214: "United Arab Emirates",
215: "England",
216: "United States of America",
}
def country_name(country_id):
    return COUNTRIES[country_id]
df['Country Name'] = df['Country Code'].apply(country_name)

# Geral

## Restaurantes únicos

In [ ]:
df['Restaurant Name']

In [3]:
df['Restaurant ID'].nunique()

6942

## Quantos países únicos estão registrados

In [4]:
df['Country Code'].nunique()

15

## Quantas cidades únicas estão registradas

In [5]:
df['City'].nunique()

125

## Qual o total de avaliações feitas

In [ ]:
df_aux = (df.loc[:, ['Rating color', 'Restaurant ID']].groupby('Restaurant ID').agg({'Rating color' : 'count'}).reset_index())
df_aux2=sum(df_aux['Rating color'])

Rating text
Excellent    2
Name: count, dtype: int64

## Qual o total de tipos de culinária registrados

In [121]:
df['Locality']

0                                        BF International
1                                        BF International
2       Ayala Triangle Gardens, Salcedo Village, Makat...
3       Ayala Triangle Gardens, Salcedo Village, Makat...
4               Century City Mall, Poblacion, Makati City
                              ...
7522                  Zorlu Center AVM, Levazım, Beşiktaş
7523                                     Çengelköy Merkez
7524                                     Çengelköy Merkez
7525                                       Üsküdar Merkez
7526                                       Üsküdar Merkez
Name: Locality, Length: 7527, dtype: object

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7527 entries, 0 to 7526
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         7527 non-null   int64
 1   Restaurant Name       7527 non-null   object
 2   Country Code          7527 non-null   int64
 3   City                  7527 non-null   object
 4   Address               7527 non-null   object
 5   Locality              7527 non-null   object
 6   Locality Verbose      7527 non-null   object
 7   Longitude             7527 non-null   float64
 8   Latitude              7527 non-null   float64
 9   Cuisines              7527 non-null   object
 10  Average Cost for two  7527 non-null   int64
 11  Currency              7527 non-null   object
 12  Has Table booking     7527 non-null   int64
 13  Has Online delivery   7527 non-null   int64
 14  Is delivering now     7527 non-null   int64
 15  Switch to order menu  7527 non-null   int64
 16  Price range           7527 non-null   int64
 17  Aggregate rating      7527 non-null   float64
 18  Rating color          7527 non-null   object
 19  Rating text           7527 non-null   object
 20  Votes                 7527 non-null   int64
 21  Country Name          7527 non-null   object
dtypes: float64(3), int64(9), object(10)
memory usage: 1.3+ MB

In [ ]:
df['Cuisines'] = df.loc[df['Cuisines']!='NaN', 'Cuisines'].apply(lambda x: str(x).split(",")[0])
df['Cuisines'].nunique()

166

# País

## Qual o nome do país que possui mais cidades registradas

In [7]:
df_aux = df.loc[:, ['Country Name', 'City']].groupby('Country Name').count().reset_index()
df_aux2 = df_aux.loc[:, :]
print(f'O nome do país com mais cidades é  {df_aux2['Country Name']}')

O nome do país com mais cidades é  0                    Australia
1                       Brazil
2                       Canada
3                      England
4                        India
5                    Indonesia
6                   New Zeland
7                  Philippines
8                        Qatar
9                    Singapure
10                South Africa
11                   Sri Lanka
12                      Turkey
13        United Arab Emirates
14    United States of America
Name: Country Name, dtype: object

## Qual o nome do país que possui mais restaurantes registrados

In [61]:
df_aux = df.loc[:, ['Country Name', 'Restaurant ID']].groupby('Country Name').count().reset_index()
df_aux2 = df_aux.loc[df_aux['Restaurant ID'] == df_aux['Restaurant ID'].max(), :]
print(f'O nome do país com mais restaurantes é  {df_aux2['Country Name'].max()}')

O nome do país com mais restaurantes é  India

In [8]:
df_pais = df.loc[df['Country Name'] == 'Brazil', :]
df_pais['City'].nunique()

3

In [36]:
df.loc[0, :]

Restaurant ID                                                     6310675
Restaurant Name                                Mama Lou's Italian Kitchen
Country Code                                                          162
City                                                       Las Piñas City
Address                 Block 1, Lot 36, Tropical Avenue Corner Tropic...
Locality                                                 BF International
Locality Verbose                         BF International, Las Piñas City
Longitude                                                      121.009787
Latitude                                                        14.447615
Cuisines                                                          Italian
Average Cost for two                                                 1100
Currency                                                 Botswana Pula(P)
Has Table booking                                                       1
Has Online delivery                                                     0
Is delivering now                                                       0
Switch to order menu                                                    0
Price range                                                             3
Aggregate rating                                                      4.6
Rating color                                                       3F7E00
Rating text                                                     Excellent
Votes                                                                 619
Country Name                                                  Philippines
Mean Ratings                                                            8
Name: 0, dtype: object

In [9]:
df1 = df.copy()

In [14]:
df2 = (
    df.loc[:, ['Restaurant ID', 'City']]
      .groupby('City', sort=True)['Restaurant ID']  # garante ordenação por cidade
      .nunique()
      .reset_index(name='count')
      .sort_values(by='count', ascending=True))
df2.head(10)

                   City  count
53   Johannesburg South      1
57       Las Piñas City      1
40            Ghaziabad      1
38          Gandhinagar      1
100          Roodepoort      1
104       San Juan City      1
74      Muntinlupa City      1
68        Marikina City      1
123            Zirakpur      1
67               Manila      2

In [7]:
df.loc[0, :]

Restaurant ID                                                     6310675
Restaurant Name                                Mama Lou's Italian Kitchen
Country Code                                                          162
City                                                       Las Piñas City
Address                 Block 1, Lot 36, Tropical Avenue Corner Tropic...
Locality                                                 BF International
Locality Verbose                         BF International, Las Piñas City
Longitude                                                      121.009787
Latitude                                                        14.447615
Cuisines                                                          Italian
Average Cost for two                                                 1100
Currency                                                 Botswana Pula(P)
Has Table booking                                                       1
Has Online delivery                                                     0
Is delivering now                                                       0
Switch to order menu                                                    0
Price range                                                             3
Aggregate rating                                                      4.6
Rating color                                                       3F7E00
Rating text                                                     Excellent
Votes                                                                 619
Country Name                                                  Philippines
Name: 0, dtype: object

In [33]:
linha = df['Rating text'] != 'Not rated'
df.loc[linha, :]
df['Mean Ratings'] = (
            df.loc[:, ['Restaurant Name', 'Rating text']]
            .groupby('Restaurant Name')
            .transform('count')['Rating text']
        )

        # Agrupando por país e calculando média
df_aux3 = (
            df.groupby('Country Name', as_index=False)['Mean Ratings']
            .mean()
        )

        # Verificando colunas existentes
print(df_aux3.columns.tolist())
df_aux3

['Country Name', 'Mean Ratings']

                Country Name  Mean Ratings
0                  Australia      1.322222
1                     Brazil      1.279693
2                     Canada      1.033333
3                    England      1.954233
4                      India     15.440262
5                  Indonesia      2.560976
6                 New Zeland      1.256917
7                Philippines      2.363636
8                      Qatar      3.244681
9                  Singapure      1.073171
10              South Africa      1.743455
11                 Sri Lanka      1.643678
12                    Turkey      1.393939
13      United Arab Emirates      3.341317
14  United States of America      1.357706

In [ ]:
# 1️⃣ Filtrar apenas restaurantes com Price range >= 4
df_filtrado = df.loc[df['Price range'] >= 4, ['Country Name', 'Price range']]

# 2️⃣ Agrupar por código do país e contar quantos restaurantes em cada
df_contagem = (
    df_filtrado
    .groupby('Country Name')
    .size()              # ou use .count(), pois só há Price range
    .reset_index(name='contagem')
)

# 3️⃣ Encontrar o valor máximo de contagem
max_contagem = df_contagem['contagem'].max()

# 4️⃣ Filtrar para obter o(s) país(es) que possuem essa contagem máxima
df_top = df_contagem.loc[df_contagem['contagem'] == max_contagem, :]

# 5️⃣ Exibir o resultado
pais_top = df_top['Country Name'].reset_index()
print(f'O nome do país com mais restaurantes de nível de preço maior ou igual a 4 é {pais_top['Country Name'].max()}')

O nome do país com mais restaurantes de nível de preço maior ou igual a 4 é United States of America

## Qual o nome do país que possui a maior quantidade de tipos de culinária distintos

## Qual o nome do país que possui a maior quantidade de avaliações feitas

In [15]:
df_filtrado = df.loc[:, ['Country Code', 'Rating text']].copy()

df_contagem = (
    df_filtrado
    .groupby('Country Code')
    .count()  
    .reset_index()
)

max_contagem = df_contagem['Rating text'].max()

df_top = df_contagem[df_contagem['Rating text'] == max_contagem]

paises = df_top['Country Code'].tolist()
print(f'O código do país com mais avaliações é o país {paises[0]}')

O código do país com mais avaliações é o país 1

## Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega

In [38]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country Name'],
      dtype='object')

In [51]:
linha = df.loc[df['Has Online delivery'] == 1, :]
df_aux = linha
df_aux2 = df_aux.loc[:, ['Has Online delivery', 'Country Code']].groupby('Country Code').count().reset_index()
pais = df_aux2[df_aux2['Has Online delivery'] == df_aux2['Has Online delivery'].max()]['Country Code']
print(f'O código do país com mais restaurantes que fazem entrega é o {pais.max()}')

O código do país com mais restaurantes que fazem entrega é o 1

## Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas